body{
    background-color: mistyrose;
}
h1{
    color: black;
    font-family: "Press Start 2P","consolas",sans-serif;
}
p{
    color: lightcoral;
    font-family: "Times New Roman",sans-serif;
    font-style: italic;
    font-weight:bold;
    text-decoration:dotted underline;
    font-size: 19px;
}